<h1> <%= @task.title %> </h1>
<h3> <%= @task.details %> </h3>

<p>Do not mix colors!</p>

<%= link_to 'Back to list', tasks_path(@tasks) %>
<%= link_to "Edit", edit_task_path(@task) %>
 <%= link_to "Delete", task_path(@task),
    method: :delete,
    data: { confirm: 'Are you sure?' }
 %>
